// Import From Local
@import "./mixins";
@import "./var";

// Import From Googles
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
::selection {
  color: white;
  background-color: black;
}
// Body
body {
  overflow-x: hidden;
}
// ----------------------------Header Scss--------------------------------
.header-1 {
  width: 100vw;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  .heading {
    @include flex(flex, space-between, center);
    padding: 25px 50px;
    .logo {
      .h4-1 {
        font-size: 3em;
        color: $white;
        font-family: $font-family;
      }
    }
    .navbar {
      margin-right: 50px;
      margin-top: 30px;
      a {
        outline: none;
        font-family: $font;
        text-decoration: none;
        font-size: 1.5em;
        color: $white;
        padding: 0px 25px;
        &:hover {
          color: hsl(147, 54%, 48%);
          text-decoration: underline;
          cursor: pointer;
        }
        transition: 0.4s ease-in-out 0.1s;
      }
    }
  }
  .box-1 {
    margin-top: 50px;
    margin-left: 50px;
    .h2-1 {
      font-size: 4.5em;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-family: $font-family;
      letter-spacing: 11px;
      border: 1.5px solid white;
      display: inline-block;
      padding: 20px 70px;
    }
  }
}
// --------------------------Header Scss Finished --------------------------

// -----------------Section-1 Scss Started---------------------

.section-1 {
  width: 100vw;
  background-color: $white;
  height: auto;
  .sec-div-1 {
    position: relative;
    .img-1 {
      width: 40vw;
      height: 60vh;
      position: relative;
      left: 224px;
      top: 47px;
    }
    .writer-div {
      display: inline-block;
      margin: 18px 254px;
      padding: 10px 100px;
      position: absolute;
      top: 205px;
      left: 368px;
      background: $white;
      .h3-writer-1 {
        font-family: $font-family;
        font-size: 3.5em;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .p-1 {
        display: inline-block;
        font-family: $font;
        font-size: 1.3em;
        color: hsl(0, 0%, 55%);
        padding-top: 20px;
      }
    }
  }
}
// ------------------Section-1 Scss Ended-------------------------------------
// --------------- OUR CREATIONS Scss Started Here---------------------
.o {
  margin-top: 20px;
}
.our-creation {
  margin-top: 250px;
  .our-1 {
    @include flex(flex, space-between, center);
    margin: 0px 210px;
    .h1-creation {
      font-size: 4em;
      font-family: $font;
      font-weight: 400;
    }
    button {
      outline: none;
      padding: 1px 25px;
      font-size: 1em;
      font-family: $font-family;
      letter-spacing: 5px;
      border: 2px solid hsl(0, 0%, 41%);
      background-color: $white;
      &:hover {
        cursor: pointer;
        color: $white;
        background-color: hsl(0, 0%, 0%);
      }
      transition: 0.5s linear 0.3s;
    }
  }
  .first-img-contain {
    margin-left: 192px;
    margin-top: 80px;
    img {
      margin: 0px 20px;
      &::before {
        content: "";
      }
    }
  }
  .o {
    margin-top: 20px;
  }
}
// ---------------------Our Creation Section Ended Here------------------

// -----------------------footer Scss Starts Here---------------------
.footer {
  width: 100vw;
  height: 20vh;
  background-color: hsl(0, 0%, 0%);
  margin-top: 25px;
  .head {
    @include flex(flex, space-between, center);
    margin: 0px 75px;
    padding-top: 25px;
    h2 {
      font-size: 2.5em;
      font-family: $font;
      color: $white;
    }
    .logos {
      img {
        padding: 0px 10px;
        font-size: 2em;
        color: $white;
        &:hover {
          cursor: pointer;
          color: hsl(0, 76%, 43%);
        }
      }
    }
  }
  .below {
    margin: 40px 40px;
    @include flex(flex, space-between, center);
    a {
      outline: none;
      font-family: $font;
      text-decoration: none;
      font-size: 1em;
      color: hsl(0, 0%, 55%);
      padding: 0px 15px;
      text-decoration: none;
      &:hover {
        color: $white;
        text-decoration: underline;
        cursor: pointer;
      }
      transition: 0.4s ease-in-out 0.1s;
    }
    h3 {
      color: hsl(0, 0%, 55%);
      font-family: $font;
    }
  }
}
// -------------FROM HERE RESPOSINEVENESS STARTS---------------------
// @media screen and (max-width: 600px) {
//   .header-1 {
//     height: 61vh;
//     .heading {
//       .logo {
//         .h4-1 {
//           font-size: 1em;
//         }
//       }
//       .navbar {
//         margin-right: 0px;
//         margin-top: 5px;
//         a {
//           font-size: 0.5em;
//           padding: 0px 5px;
//         }
//       }
//     }
//     .box-1 {
//       margin-top: 20px;
//       margin-left: 50px;
//       .h2-1 {
//         font-size: 1.5em;
//         padding: 16px 20px;
//       }
//     }
//   }
//   .section-1 {
//     .sec-div-1 {
//       .img-1 {
//         width: 24vw;
//         height: 27vh;
//         position: relative;
//         left: 76px;
//         top: 45px;
//       }
//       .writer-div {
//         top: 118px;
//         left: 112px;
//         margin: 4px 60px;
//         padding: 7px 0px;
//         .h3-writer-1 {
//           font-size: 23px;
//         }
//         .p-1 {
//           font-size: 14px;
//           padding-top: 8px;
//         }
//       }
//     }
//   }
//   .our-creation {
//     margin-top: 160px;
//     .our-1 {
//       margin: 0px 40px;
//       .h1-creation {
//         font-size: 3em;
//       }
//       button {
//         padding: 0px 7px;
//         font-size: 1em;
//       }
//     }
//     .first-img-contain {
//       margin-left: 54px;
//       margin-top: 59px;
//       img {
//         margin: 0px 1px;
//         width: 20vw;
//       }
//     }
//   }
//   .footer {
//     height: 30vh;
//     .head {
//       margin: 0px 20px;
//       .logos {
//         img {
//           padding: 0px 8px;
//         }
//       }
//       h2 {
//         font-size: 1.5em;
//       }
//     }
//     .below {
//       margin-top: 20px;
//       margin-left: 20px;
//       margin-right: 20px;
//       margin-bottom: 10px;
//       a {
//         font-size: 15px;
//       }
//       h3 {
//         font-size: 15px;
//       }
//     }
//   }
// }
@media screen and (max-width: 929px) {
  .header-1 {
    .heading {
      .logo {
        .h4-1 {
          font-size: 30px;
        }
      }
      .navbar {
        display: none;
        a {
          font-size: 18px;
        }
      }
    }
    .box-1 {
      margin-top: 143px;
      .h2-1 {
        font-size: 50px;
      }
    }
  }
  .section-1 {
    .sec-div-1 {
      position: unset !important;
      .img-1 {
        width: 55vw;
        height: 55vh;
      }
      .writer-div {
        display: flex;
        position: unset !important;
        flex-direction: column;
      }
      .writer-div {
        margin-top: 60px;
        padding: 19px 0px;
        margin-right: 22px;
        .h3-writer-1 {
          font-size: 50px;
        }
      }
    }
  }
  .our-creation {
    margin-top: 54px;
    .our-1 {
      margin: 0px 100px;
      .h1-creation {
        font-size: 50px;
      }
    }
    .images {
      .first-img-contain {
        img {
          width: 204px;
          height: 251px;
        }
      }
    }
  }
  .footer {
    height: 30vh;
    .below {
      .as {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
